/* fonts google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* navbar */
.brand-logo {
  font-size: 17px !important;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.nav-wrapper ul li a {
  font-family: Poppins, sans-serif;
}

.sidenav li a {
  font-family: Poppins, sans-serif;
}
/* akhir navbar */

/* slider */
.slider img {
  margin-top: 42px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border: 0.4px solid grey;
}
.slider h1 {
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.slider p {
  margin-top: -15px !important;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.parallax-container {
  height: 20%;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}

/* icons sosial */
.home__social-icon {
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.home__social-icon .bx {
  width: 30px;
}
/* akhir icons sosial */

/* akhir slider */

/* About */
.about h3 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.about p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
/* Akhir About */

/* skill */
.skill h3 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.skill h5 {
  font-weight: bold;
  font-size: 16px;
}

.skill img {
  width: 50px;
  height: 50px;
  opacity: 0.9;
}
/* akhir skill */

/* portfolio */

.portfolio h3 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.portfolio h6 {
  text-align: center;
  font-weight: 550;
  font-family: Poppins, sans-serif;
  font-size: 15px;
}
/* akhir portfolio */

/* kontaks */
.contact h4 {
  font-size: 25px;
}

.contact h3 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.contact p,
ul {
  font-family: Poppins, sans-serif;
  font-size: 15px;
}

.contact h4 {
  font-size: 20px;
}
/* akhir kontaks */

/* footer */
section,
footer {
  padding: 20px 0;
  font-family: Poppins, sans-serif;
}
/* akhir footer */

@media (min-width: 576px) {
  .slider {
    height: 400px !important;
  }
}

@media screen and (min-width: 768px) {
  .slider {
    height: 450px !important;
  }
  .slider p {
    font-size: 18px;
  }

  .about h3 {
    font-size: 32px;
  }
  .skill h3 {
    font-size: 32px;
  }
  .portfolio h3 {
    font-size: 32px;
  }
  .contact h3 {
    font-size: 32px;
  }
  .slider h1 {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .slider {
    height: 500px !important;
  }
}
